body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #212121;
  font-size: 12px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0;
  transition: ease 1s opacity;
}

.background-loaded {
  opacity: 1;
}

#root {
  position: relative;
}

::-webkit-scrollbar {
  width: 0px; /* invisible scrollbar */
}
